body {
  font-family: 'helvetica', sans-serif;
  background: linear-gradient(to right, #0cc9f3, #66f156);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.todo-container {
  background-color: #d7f7f8;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgb(71, 228, 228);
  width: 300px;
  text-align: center;
}

input {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #8eb0f8;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  position: relative;
}

li.completed {
  text-decoration: line-through;
  color: #888;
}

li button {
  position: absolute;
  right: 10px;
  top: 10px;
  background: red;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 5px;
  cursor: pointer;
}